{{>header}}

<body>
  {{>navbar}}

  <!-- Main Page -->
  <div class="container-fluid p-5 text-bg-light">
    <div class="container-xl mb-4">
      <h4>Browse the history of nursing in Saskatchewan and Alberta by timeline.</h4>
    </div>
    {{!-- Each Pre1900 articles is shown --}}
    <div class="container">
      <div class="row" id="pre1900article"></div>
      <div class="saskatchewan">
        <div class="alberta"></div>
      </div>
    </div>
  {{>footer}}
  </div>

  {{>script}}
  {{>dataFetch}}