{{>header}}

<body>
  {{>navbar}}

  <!-- Main Page -->
  <div class="container p-5 bg-light">

    {{>timelineIntro}}
    {{!-- Each Pre1900 articles is shown --}}
    <div class="container">
      {{>timelineNav}}

      <div class="row" id="preArticle1900" style="display:none"></div>
      <div class="row" id="article1900"></div>
    </div>
  </div>

  {{>script}}
  {{>dataFetch}}
  {{>footer}}