{{>header}}

<body>
  {{>navbar}}

  <!-- Main Page -->
  <div class="container-fluid p-5 bg-light" id="main-page">
    <h1>{{title}}</h1>
    <div class="page-container">
      <p>A celebration of the contributions over the last one hundred years of Registered Nurses and Registered
        Psychiatric Nurses in Alberta and Saskatchewan.

        A Centennial project of the United Nurses of Alberta and the Saskatchewan Union of Nurses.

        Produced by:
        Larry Lemoal, Employment Relations Officer, Research, SUN, and Keith Wiley, Communications Officer, UNA
        Producers Notes

        Website Production: Terry Massey, Thirteen Letter, Ian Jensen, Mike Card, Jeff Walker and Derek Bachman (100
        Years of Nursing Logo design)

        Video and DVD Production: Don Bouzek, D.Active Productions, Joanne Janzen, Eduardo Martinez, Jaro Malanowski

        English Narration: Patricia Darbasie, ACTRA

        Additional video: Richard Diener

        Alberta research and writing: Mary Oakwell

        Saskatchewan research and writing: Courtney England

        Additional Graphic Design: Kelly de Jong, UNA Erin Poier, SUN

        Translation: Karoline Benoit, Mireille Lavoie

        Thanks to:

        Saskatchewan Archives Board
        Provincial Archives of Alberta
        The Glenbow Museum and Archives
        Regina Qu'Appelle Health Region Archives
        Registered Psychiatric Nurses Association of Saskatchewan
        Saskatchewan Air Ambulance
        Edmonton City Archives
        National Archives of Canada
        Regina Grey Nuns School Alumni Association
        College and Association of Registered Nurses of Alberta
        Canadian Broadcasting Corporation
        And thank you to all the wonderful nurses who took the time to tell the stories and provide so much information.


      </p>

    </div>
  </div>
  {{>script}}
  {{>footer}}