{{>header}}

<body>
  {{>navbar}}

  <!-- Main Page -->
  <div class="container p-5 bg-light">
    <div class="container mb-4 text-dark">
    <h1 class="text-success">{{title}}</h1>

    </div>
    <div class="container">
      <h5 class="lh-base" style="font-weight:300">A celebration of the contributions over the last one hundred years of Registered Nurses and RegisteredPsychiatric Nurses in Alberta and Saskatchewan.

        A Centennial project of the United Nurses of Alberta and the Saskatchewan Union of Nurses.
<br>

          <strong>Produced by:</strong>
        <ul>
          <li>Larry Lemoal</li>
          <li>Employment Relations Officer</li>
          <li>Research</li>
          <li>SUN</li>
          <li>Keith Wiley</li>
          <li>Communications Officer</li>
          <li>UNA Producers Notes</li>
        </ul>

<br>
        <strong>Website Production:</strong>
        <ul>
          <li>Terry Massey</li>
          <li>Thirteen Letter</li>
          <li>Ian Jensen</li>
          <li>Mike Card</li>
          <li>Jeff Walker</li>
          <li>and Derek Bachman (100 Years of Nursing Logo design)</li>
        </ul>
<br>
        <strong>Video and DVD Production:</strong> 
        <ul>
          <li>Don Bouzek</li>
          <li>D.Active Productions</li>
          <li>Joanne Janzen</li>
          <li>Eduardo Martinez</li>
          <li>Jaro Malanowski</li>
        </ul>
<br>
        <strong>English Narration:</strong> Patricia Darbasie, ACTRA
<br>
        <strong>Additional video:</strong> Richard Diener
<br>
        <strong>Alberta research and writing:</strong>Mary Oakwell
<br>
        <strong>Saskatchewan research and writing:</strong>Courtney England
<br>
        <strong>Additional Graphic Design:</strong>
        <ul>
          <li>Kelly de Jong</li>
          <li>UNA Erin Poier</li>
          <li>SUN</li>
        </ul>
<br>
        <strong>Translation:</strong>
        <ul>
          <li>Karoline Benoit</li>
          <li>Mireille Lavoie</li>
        </ul>
<br>
        <strong>Thanks to:</strong>
<ul>
  <li>Saskatchewan Archives Board</li>
  <li>Provincial Archives of Alberta</li>
  <li>The Glenbow Museum and Archives</li>
  <li>Regina Qu'Appelle Health Region Archives</li>
  <li>Registered Psychiatric Nurses Association of Saskatchewan</li>
  <li>Saskatchewan Air Ambulance</li>
  <li>Edmonton City Archives</li>
  <li>National Archives of Canada</li>
  <li>Regina Grey Nuns School Alumni Association</li>
  <li>College and Association of Registered Nurses of Alberta</li>
  <li>Canadian Broadcasting Corporation</li>
  
</ul>
<br>
      <strong>And thank you to all the wonderful nurses who took the time to tell the stories and provide so much information.</strong>
      </h5>

    </div>
  </div>
  {{>script}}
  {{>footer}}