{{>header}}

<body>
  {{>navbar}}

  <!-- Main Page -->
  <div class="container p-5 bg-light">
    {{>themeIntro}}
    {{!-- Each articles is shown --}}
    <div class="container">
      {{>themeNav}}
      <div class="row" id="nursesInWar"></div>
      <div class="row" id="pioneeringNursing" style="display:none"></div>

    </div>
  </div>

  {{>footer}}
  {{>script}}
  {{>themeDataFetch}}