{{>header}}

<body>
    {{>navbar}}
    <!-- Main Page -->
    <div class="container-fluid p-5 text-bg-light" id="main-page">
        <div class="page-container">
            <h1>{{title}}</h1>
            <p>
                A picture is worth a thousand words, and although 100 Years of Nursing has many thousands of words the
                following pictures capture the raw emotion and moments that maybe those words could not convey.

                <ol>Alberta Gallery</ol>
                <ol>Saskatchewan Gallery</ol>
            </p>
        </div>
    </div>


    {{>script}}
    {{>footer}}