{{>header}}

<body>
  {{>navbar}}

  <!-- Main Page -->
  <div class="container p-5 bg-light">
    {{>themeIntro}}
    {{!-- Each Pre1900 articles is shown --}}
    <div class="container">
      {{>breadcrumbs}}
      
      <div class="row" id="pioneernursing"></div>
    </div>
  </div>

  {{>footer}}
  {{>script}}
  {{>dataFetch}}