{{>header}}

<body>
  {{>navbar}}

  <!-- Main Page -->
  <div class="container p-5 bg-light">
    <div class="container mb-4 text-success">
      <h4>Browse the history of nursing in Saskatchewan and Alberta by timeline.</h4>
    </div>
    {{!-- Each Pre1900 articles is shown --}}
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-success" href="/timeline">Timeline</a></li>
          <li class="mx-2">/</li>
          <li class="breadcrumb-item active" aria-current="page"><strong>Pre 1900</strong></li>
        </ol>
      </nav>
      <div class="row" id="preArticle1900"></div>
    </div>
  </div>

  {{>footer}}
  {{>script}}
  {{>dataFetch}}