{{>header}}

<body>
  <div class="root">
    <!-- Navbar -->
    {{>navbar}}
  </div>
  <!-- Main Page -->
  <div class="container-fluid p-5 text-bg-light">
    <div class="container-xl mb-4">
      <h1>{{title}}</h1>
      <h4>Browse the history of nursing in Saskatchewan and Alberta by the following Themes</h4>

    </div>
    {{!-- Each Pre1900 articles is shown --}}
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/Clinical-16.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pioneer Nursing</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">View more</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/Clinical-16.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nurses in the wars</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">View more</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/Clinical-16.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nursing in Rural, Remote and Northern Areas</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">View more</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/Clinical-16.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nurses and Unions</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">View more</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/Clinical-16.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Advocacy and Nursing</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">View more</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/Clinical-16.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Evolution of Nursing</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">View more</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/Clinical-16.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The People Who Care</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">View more</a>
            </div>
          </div>
        </div>

      </div>

      
      
      
      <div class="row" id="preArticle1900" style="display:none"></div>
      <div class="row" id="article1900" style="display:none"></div>
      <div class="row" id="article1910" style="display:none"></div>
      <div class="row" id="article1920" style="display:none"></div>
      <div class="row" id="article1930" style="display:none"></div>
      <div class="row" id="article1940" style="display:none"></div>
      <div class="row" id="article1950" style="display:none"></div>
      <div class="row" id="article1960" style="display:none"></div>
      <div class="row" id="article1970" style="display:none"></div>
      <div class="row" id="article1980"></div>
    </div>
    {{>footer}}
  </div>


  {{>script}}