{{>header}}

<body>
  {{>navbar}}

  <!-- Main Page -->
  <div class="container-fluid p-5 text-bg-light">
    <div class="container-xl mb-4">
      <h4>Browse the history of nursing in Saskatchewan and Alberta by timeline.</h4>
    </div>

    {{!-- Each Pre1900 articles is shown --}}
    <div class="container text-center">
  <div class="row row-cols-4">
    <div class="col">
      <h5 class="card-title p-2">Pre 1900's</h5>
      <a href="/timeline/pre1900" class="btn btn-primary">View</a>
    </div>
    <div class="col">
      <h5 class="card-title p-2">1900's</h5>
      <a href="/timeline/1900" class="btn btn-primary">View</a>      
    </div>
    <div class="col">Column</div>
    <div class="col">Column</div>
  </div>
</div>
    
  {{>footer}}
  </div>

  {{>script}}
  {{>dataFetch}}