{{>header}}

<body>
  {{>navbar}}

  <!-- Main Page -->
  <div class="container-fluid p-5 text-bg-light">
    <div class="container-xl mb-4">
      <h4>Browse the history of nursing in Saskatchewan and Alberta by timeline.</h4>
    </div>

    <div class="container">
      {{!-- Green line in the middle --}}
      <div class="row justify-content-md-center">
        <div class="vertical-line"></div> 
      </div>

      {{!-- Pre 1900s --}}
      <div class="row justify-content-md-center">
        <div class="col-md-auto" style="width:25rem">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Pre 1900's</h5>
              <p class="card-text">Explore a captivating collection of historical articles dating back to the pre-1900s
                era.</p>
              <a href="/timeline/pre1900" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-sm-auto">
        </div>
        <div class="col-md-auto" style="width:25rem">
        </div>
      </div>

    {{!-- 1900 --}}
      <div class="row justify-content-md-center mt-3">
        <div class="col-md-auto" style="width:25rem">
        </div>
        <div class="col-sm-auto">
        </div>
        <div class="col-md-auto" style="width:25rem">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">1900's</h5>
              <p class="card-text">Discover the challenging 1900s, where nurses were unwavering pillars of compassion
                amidst adversity.</p>
              <a href="/timeline/1900" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>

      {{!-- 1910 --}}
      <div class="row justify-content-md-center mt-3">
        <div class="col-md-auto" style="width:25rem">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">1910's</h5>
              <p class="card-text">Step into the pivotal year of 1910, where Alberta nurses bravely ventured into the "Great War," displaying unwavering dedication. Amidst the chaos, the specter of the Spanish influenza cast a heavy shadow, showcasing the resilience and commitment of healthcare heroes in challenging times.</p>
              <a href="/timeline/1910" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-sm-auto">
        </div>
        <div class="col-md-auto" style="width:25rem">
        </div>
      </div>

    {{!-- 1920 --}}
      <div class="row justify-content-md-center mt-3">
        <div class="col-md-auto" style="width:25rem">
          
        </div>
        <div class="col-sm-auto">
        </div>
        <div class="col-md-auto" style="width:25rem">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">1920's</h5>
              <p class="card-text">Step back into the vibrant 1920s, a time marked by bold changes and cultural shifts. Meet Kate Brightly, a trailblazing figure who captured attention with her daring "bob" hairstyle, symbolizing the spirit of independence and liberation that defined the era.</p>
              <a href="/timeline/1920" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>

            {{!-- 1930 --}}
      <div class="row justify-content-md-center mt-3">
        <div class="col-md-auto" style="width:25rem">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">1930's</h5>
              <p class="card-text">Journey to the 1930s, where the Great Depression shaped nursing. Despite challenges, Kathleen Ellis established a pioneering nurses' college, reflecting nurses' resilience in providing crucial care during tough times.</p>
              <a href="/timeline/1930" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-sm-auto">
        </div>
        <div class="col-md-auto" style="width:25rem">
        </div>
      </div>



    </div>



    {{!-- Each Pre1900 articles is shown --}}
    <div class="container text-center">
      <div class="row row-cols-4">
        <div class="col">
          <h5 class="card-title p-2">Pre 1900's</h5>
          <a href="/timeline/pre1900" class="btn btn-primary">View</a>
        </div>
        <div class="col">
          <h5 class="card-title p-2">1900's</h5>
          <a href="/timeline/1900" class="btn btn-primary">View</a>
        </div>
        <div class="col">
          <h5 class="card-title p-2">1910's</h5>
          <a href="/timeline/1910" class="btn btn-primary">View</a>
        </div>
        <div class="col">
          <h5 class="card-title p-2">1920's</h5>
          <a href="/timeline/1920" class="btn btn-primary">View</a>
        </div>
      </div>
      <div class="row row-cols-4">
        <div class="col">
          <h5 class="card-title p-2">Pre 1930's</h5>
          <a href="/timeline/1930" class="btn btn-primary">View</a>
        </div>
        <div class="col">
          <h5 class="card-title p-2">1940's</h5>
          <a href="/timeline/1940" class="btn btn-primary">View</a>
        </div>
        <div class="col">
          <h5 class="card-title p-2">1950's</h5>
          <a href="/timeline/1950" class="btn btn-primary">View</a>
        </div>
        <div class="col">
          <h5 class="card-title p-2">1960's</h5>
          <a href="/timeline/1960" class="btn btn-primary">View</a>
        </div>
      </div>
      <div class="row row-cols-4">
        <div class="col">
          <h5 class="card-title p-2">Pre 1970's</h5>
          <a href="/timeline/pre1970" class="btn btn-primary">View</a>
        </div>
        <div class="col">
          <h5 class="card-title p-2">1980's</h5>
          <a href="/timeline/1980" class="btn btn-primary">View</a>
        </div>
        <div class="col">
          <h5 class="card-title p-2">1990's</h5>
          <a href="/timeline/1990" class="btn btn-primary">View</a>
        </div>
        <div class="col">
          <h5 class="card-title p-2">2000's</h5>
          <a href="/timeline/2000" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

    {{>footer}}
  </div>

  {{>script}}
  {{>dataFetch}}