{{>header}}

<body>
    {{>navbar}}

    <!-- Main Page -->
    <div class="container p-5 bg-light">
        <div class="container mb-4 text-dark">
            <h1 class="text-success">{{title}}</h1>
        </div>
        <div class="container">
            <h5 class="lh-base" style="font-weight:300">Browse the history of nursing in Saskatchewan and Alberta by
                timeline.</h5>
        </div>

        {{!-- All Videos --}}
        <div class="container mt-5">
            <div class="row text-center justify-content-center">
                <h5 class="text-success">Pre 1900's</h5>
                <div class="col-md pb-3">
                    <h4>Grey Nuns bring European nursing to the prairies</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">1900's</h5>

                <div class="col-md pb-3">
                    <img src="/img/Surviving-Typhoon-small.png" class="img-fluid" data-bs-toggle="modal"
                        data-bs-target="#Surviving" alt="Surviving typhoid and extreme conditions: Mary Ellen Birtles">

                    <!-- Button trigger modal -->
                    <button type="button" class="mt-3 btn bg-success text-light" style="width: 350px;"
                        data-bs-toggle="modal" data-bs-target="#Surviving">
                        <p>Surviving typhoid and extreme conditions: Mary Ellen Birtles</p>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="Surviving" tabindex="-1" aria-labelledby="SurvivingLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="SurvivingLabel">Surviving typhoid and extreme
                                        conditions: Mary Ellen Birtles</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/YvhxrMKoNwM?si=WUKZL7klHAK2zrUm"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Victorian-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Victorian" alt="Victorian Order of Nurses: decades of in-home care<">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Victorian" style="width: 350px;">
                            <p>Victorian Order of Nurses: decades of in-home care</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Victorian" tabindex="-1" aria-labelledby="VictorianLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="VictorianLabel">Victorian Order of Nurses: decades of
                                        in-home care</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/hv3SmLnPEBY?si=I75ifz-v334FUZn-"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center justify-content-center mt-5">
                <h5 class="text-success">1910's</h5>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Prairie-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Prairie" alt="Prairie nurses go overseas in World War I<">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Prairie" style="width: 350px;">
                            <p>Prairie nurses go overseas in World War I</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Prairie" tabindex="-1" aria-labelledby="PrairieLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="PrairieLabel">Prairie nurses go overseas in World War I
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/XFUygJ7jVCE?si=gFNYC_GiB51lzC8l"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md pb-3">

                    <div class="col">
                        <img src="/img/Roberta-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Roberta"
                            alt="Roberta MacAdams - second woman elected to a Commonwealth Legislature<">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Roberta" style="width: 350px;">
                            <p>Roberta MacAdams - second woman elected to a Commonwealth Legislature</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Roberta" tabindex="-1" aria-labelledby="RobertaLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="RobertaLabel">Roberta MacAdams - second woman elected to
                                        a Commonwealth Legislature</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/ivKODkwDYSo?si=zRUDJTqU60wMUG7k"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">

                    <div class="col">
                        <img src="/img/Flu1918-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Flu1918" alt="The 1918 Flu Epidemic<">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Flu1918" style="width: 350px;">
                            <p>The 1918 Flu Epidemic</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Flu1918" tabindex="-1" aria-labelledby="Flu1918Label"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Flu1918Label">The 1918 Flu Epidemic</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/zJpA7aoluu4?si=ISs0NpCwVmsx4vDg"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row text-center justify-content-center mt-5">
                <h5 class="text-success">1920's</h5>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/District-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#District" alt="District Nurse Travels to Tragedy">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#District" style="width: 350px;">
                            <p>District Nurse Travels to Tragedy</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="District" tabindex="-1" aria-labelledby="DistrictLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DistrictLabel">District Nurse Travels to Tragedy</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/MnZAdWzanMQ?si=vbzkUOrXtiq2GNLl"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md pb-3">

                    <div class="col">
                        <img src="/img/Student-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Student" alt="Student Nurses Defiantly 'bob' Hair">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Student" style="width: 350px;">
                            <p>Student Nurses Defiantly "bob" Hair</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Student" tabindex="-1" aria-labelledby="StudentLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="StudentLabel">Student Nurses Defiantly "bob" Hair</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/-EmdokrDGKc?si=Qj8BNsE5maHD4BzU"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md pb-3">

                    <div class="col">
                        <img src="/img/Red-small.png" class="img-fluid" data-bs-toggle="modal" data-bs-target="#Red"
                            alt="Red Cross: nurses in a changing role">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Red" style="width: 350px;">
                            <p>Red Cross: nurses in a changing role</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Red" tabindex="-1" aria-labelledby="RedLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="RedLabel">Red Cross: nurses in a changing role</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/KWj4MJX5oGE?si=-SzKM9z-Fh4oX6zk"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">

                    <div class="col">
                        <img src="/img/NursesUniform-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#NurseUniform" alt="Nurses Uniforms: Bibs, Collars and Caps">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#NurseUniform" style="width: 350px;">
                            <p>Nurses Uniforms: Bibs, Collars and Caps</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="NurseUniform" tabindex="-1" aria-labelledby="NurseUniformLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="NurseUniformLabel">Nurses Uniforms: Bibs, Collars and
                                        Caps</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/RzKikYjel6Q?si=_lgbIkD5WNeR4VDB"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Public-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Public" alt="Public Health Nurses">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Public" style="width: 350px;">
                            <p>Public Health Nurses</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Public" tabindex="-1" aria-labelledby="PublicLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="PublicLabel">Public Health Nurses</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/mM0LRQ3TUig?si=nmoxNs03LkceEyBh"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">

                    <div class="col">
                        <img src="/img/Changing-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Changing" alt="The Changing Practice of Nursing">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Changing" style="width: 350px;">
                            <p>The Changing Practice of Nursing</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Changing" tabindex="-1" aria-labelledby="ChangingLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ChangingLabel">The Changing Practice of Nursing</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/k43TGdSU_5A?si=JzdyhgBKRnWHct38"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center justify-content-center mt-5">
                <h5 class="text-success">1930's</h5>
                <div class="col-md pb-3">

                    <div class="col">
                        <img src="/img/Nurses30s-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Nurses30s" alt=">Nurses help out in the “Dirty 30s”">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Nurses30s" style="width: 350px;">
                            <p>Nurses help out in the “Dirty 30s”</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Nurses30s" tabindex="-1" aria-labelledby="Nurses30sLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Nurses30sLabel">Nurses help out in the “Dirty 30s”</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/cgrl-x2T3V4?si=oDQdxR2PXtmHofuM"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md pb-3">

                    <div class="col">
                        <img src="/img/LongHours-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#LongHours" alt=">Student nurses work long hours">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#LongHours" style="width: 350px;">
                            <p>Student nurses work long hours</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="LongHours" tabindex="-1" aria-labelledby="LongHoursLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="LongHoursLabel">Student nurses work long hours</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/7oO7NhZeI1g?si=RYQu1MLNg_0NQTcG"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row text-center justify-content-center mt-5">
                <h5 class="text-success">1940's</h5>
                <div class="col-md pb-3">

                    <div class="col">
                        <img src="/img/PrairieWWIILabel-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#PrairieWWII" alt=">Prairie nurses in World War II">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#PrairieWWII" style="width: 350px;">
                            <p>Prairie nurses in World War II</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="PrairieWWII" tabindex="-1" aria-labelledby="PrairieWWIILabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="PrairieWWIILabel">Prairie nurses in World War II</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/d2jjnnv7cb0?si=4NUYggycbE_M3lrA"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md pb-3">

                    <div class="col">
                        <img src="/img/Northern-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Northern" alt=">The Northern Nurse">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Northern" style="width: 350px;">
                            <p>The Northern Nurse</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Northern" tabindex="-1" aria-labelledby="NorthernLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="NorthernLabel">The Northern Nurse</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/7-7dEKST4Nk?si=h9pI6i_TP1R9c33v"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">


                    <div class="col">
                        <img src="/img/Tommy-small.png" class="img-fluid" data-bs-toggle="modal" data-bs-target="#Tommy"
                            alt="Tommy Douglas TV announcement of first medicare plan">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Tommy" style="width: 350px;">
                            <p>Tommy Douglas TV announcement of first medicare plan</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Tommy" tabindex="-1" aria-labelledby="TommyLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="TommyLabel">Tommy Douglas TV announcement of first
                                        medicare plan</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/7-7dEKST4Nk?si=h9pI6i_TP1R9c33v"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/SaskatchewanAmbulance-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#SaskatchewanAmbulance"
                            alt="Tuberculosis and the need for lengthy care in sanitoriums">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#SaskatchewanAmbulance" style="width: 350px;">
                            <p>Saskatchewan Air Ambulance: from the fields and forest</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="SaskatchewanAmbulance" tabindex="-1"
                        aria-labelledby="SaskatchewanAmbulanceLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="SaskatchewanAmbulanceLabel">Saskatchewan Air Ambulance:
                                        from the fields and forest</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/vzfahnj9GTQ?si=0yZqvzYJ1KazK7aT"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Tuberculosis-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Tuberculosis"
                            alt="Tuberculosis and the need for lengthy care in sanitoriums">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Tuberculosis" style="width: 350px;">
                            <p>Tuberculosis and the need for lengthy care in sanitoriums</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Tuberculosis" tabindex="-1" aria-labelledby="TuberculosisLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="TuberculosisLabel">Tuberculosis and the need for lengthy
                                        care in sanitoriums</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/KOLegBG-sVg?si=PuG20Hc4OVy5wXDi"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center justify-content-center mt-5">
                <h5 class="text-success">1950's</h5>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/DistrictNurse-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#DistrictNurse" alt="A District Nurse's Story">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#DistrictNurse" style="width: 350px;">
                            <p>A District Nurse's Story</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="DistrictNurse" tabindex="-1" aria-labelledby="DistrictNurseLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DistrictNurseLabel">A District Nurse's Story</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/fg4PZIlbnio?si=gBg5Kya3XzS3eIIp"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Contributions-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Contributions" alt="Contributions of Immigrant Nurses">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Contributions" style="width: 350px;">
                            <p>Contributions of Immigrant Nurses</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Contributions" tabindex="-1" aria-labelledby="ContributionsLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ContributionsLabel">Contributions of Immigrant Nurses
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/mKngM-XzR8k?si=CfmAgwfYUlMIohDI"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Life-small.png" class="img-fluid" data-bs-toggle="modal" data-bs-target="#Life"
                            alt="Life in residence: early nursing schools">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Life" style="width: 350px;">
                            <p>Life in residence: early nursing schools</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Life" tabindex="-1" aria-labelledby="LifeLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="LifeLabel">Life in residence: early nursing schools
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/__xbjvJYyyM?si=mR9k8DcLTOcQNaPq"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Polio-small.png" class="img-fluid" data-bs-toggle="modal" data-bs-target="#Polio"
                            alt="The Dreaded Polio and the Iron Lung">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Polio" style="width: 350px;">
                            <p>The Dreaded Polio and the Iron Lung</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Polio" tabindex="-1" aria-labelledby="PolioLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="PolioLabel">The Dreaded Polio and the Iron Lung
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/gUFhTmrkAx4?si=nzFha7xfgLbnxOjA"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Psyche-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Psych" alt="The Specialness of Psychiatric Nursing">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Psych" style="width: 350px;">
                            <p>The Specialness of Psychiatric Nursing</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Psych" tabindex="-1" aria-labelledby="PsychLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="PolioLabel">The Specialness of Psychiatric Nursing
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/_0H2xyiPMbY?si=mNwmdPzGUctWTW0m"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/BecameNurses-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#BecameNurses" alt="Why we Became Nurses">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#BecameNurses" style="width: 350px;">
                            <p>Why we Became Nurses</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="BecameNurses" tabindex="-1" aria-labelledby="BecameNursesLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="BecameNursesLabel">Why we Became Nurses
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/iZzUFEe9WD4?si=iLLrmEdMqsomT6XX"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center justify-content-center mt-5">
                <h5 class="text-success">1970's</h5>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Founding-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Founding" alt="The 1977 nurses' strike in Alberta">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Founding" style="width: 350px;">
                            <p>Founding a union for nurses: the United Nurses of Alberta</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Founding" tabindex="-1" aria-labelledby="FoundingLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="PolioLabel">Founding a union for nurses: the United
                                        Nurses of Alberta
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660"
                                        src="https://www.youtube.com/embed/dcpBi963Drw?si=ecg6heNwICVFcTB5"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Strike-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Strike" alt="The 1977 nurses' strike in Alberta">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Strike" style="width: 350px;">
                            <p>The 1977 nurses' strike in Alberta</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Strike" tabindex="-1" aria-labelledby="StrikeLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="PolioLabel">The 1977 nurses' strike in Alberta</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660" src="https://www.youtube.com/embed/92R1lE-mRik?si=dwINSWanIviFpk6J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Staff-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Staff" alt="The Staff Nurses' Association of Alberta">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Staff" style="width: 350px;">
                            <p>The Staff Nurses' Association of Alberta</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Staff" tabindex="-1" aria-labelledby="StaffLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="StaffLabel">The Staff Nurses' Association of Alberta</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660" src="https://www.youtube.com/embed/3AqTrBiPgEs?si=D7usRuQFuKFdrkQY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Advocate-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Advocate" alt="Advocating for Patients">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Advocate" style="width: 350px;">
                            <p>Advocating for Patients</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Advocate" tabindex="-1" aria-labelledby="AdvocateLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="AdvocateLabel">Advocating for Patients</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660" src="https://www.youtube.com/embed/gCx7lOOiBNY?si=o-pxYGzKE9XXjukJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Formation-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Formation" alt="Formation of the Saskatchewan Union of Nurses">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Formation" style="width: 350px;">
                            <p>Formation of the Saskatchewan Union of Nurses</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Formation" tabindex="-1" aria-labelledby="FormationLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="FormationLabel">Formation of the Saskatchewan Union of Nurses</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660" src="https://www.youtube.com/embed/CkEOfKeReqc?si=leTWnIc57dyGSGTC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/Oath-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Oath" alt="The Nurses' oath">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Oath" style="width: 350px;">
                            <p>The Nurses' oath</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Oath" tabindex="-1" aria-labelledby="OathLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="OathLabel">The Nurses' oath</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660" src="https://www.youtube.com/embed/jJcqQTo-0do?si=cIfl0sEb7tk-ayVV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center justify-content-center mt-5">
                <h5 class="text-success">1980's</h5>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/1980Strike-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#1980Strike" alt="The 1980 &amp; 1982 nurses' strikes in Alberta">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#1980Strike" style="width: 350px;">
                            <p>The 1980 &amp; 1982 nurses' strikes in Alberta</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="1980Strike" tabindex="-1" aria-labelledby="1980StrikeLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="1980StrikeLabel">The 1980 &amp; 1982 nurses' strikes in Alberta</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660" src="https://www.youtube.com/embed/xlW6iPYT9rI?si=qQsRpnCPQYi8SrDV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/1980Strike-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#1980Strike" alt="Nurses defy with illegal strike in 1988">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#1980Strike" style="width: 350px;">
                            <p>Nurses defy with illegal strike in 1988</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="1980Strike" tabindex="-1" aria-labelledby="1980StrikeLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="1980StrikeLabel">Nurses defy with illegal strike in 1988</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660" src="https://www.youtube.com/embed/xlW6iPYT9rI?si=qQsRpnCPQYi8SrDV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md pb-3">
                    <div class="col">
                        <img src="/img/1980Strike-small.png" class="img-fluid" data-bs-toggle="modal"
                            data-bs-target="#Protect" alt="Nurses Strike to Protect their Patients' care">

                        <!-- Button trigger modal -->
                        <button type="button" class="mt-3 btn bg-success text-light" data-bs-toggle="modal"
                            data-bs-target="#Protect" style="width: 350px;">
                            <p>Nurses Strike to Protect their Patients' care</p>
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Protect" tabindex="-1" aria-labelledby="ProtectLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ProtectLabel">Nurses Strike to Protect their Patients' care</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe width="860" height="660" src="https://www.youtube.com/embed/xlW6iPYT9rI?si=qQsRpnCPQYi8SrDV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4></h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">1990's</h5>
                <div class="col-md pb-3">
                    <h4>Alberta makes dramatic health cuts in the 1990s</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                    <h4>Nurses impacted dramatically by cuts</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                    <h4>Fun on the floor: nurses break the tension</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                    <h4>Saskatchewan nurses strike in 1999</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                    <h4>Nurses Dramatize crisis with "shoe-in"</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">2000's</h5>
                <div class="col-md pb-3">
                    <h4>Caring for the Disabled and Elderly</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                    <h4>Nurses in the workplace at the Great Western Garment Company</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                    <h4>Never Enough Time</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                    <h4>Protecting Caregivers: Health and Safety</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                    <h4>First Nations Nursing</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                    <h4>Saskatchewan Air Ambulance today</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>
        </div>
    </div>


    {{>script}}
    {{>footer}}