{{>header}}

<body>
  {{>navbar}}

    <!-- Main Page -->
    <div class="container p-5 bg-light">
        <div class="container mb-4 text-dark">
            <h1 class="text-success">{{title}}</h1>
        </div>
        <div class="container">
        <h5 class="lh-base" style="font-weight:300">Browse the history of nursing in Saskatchewan and Alberta by timeline.</h5>
      </div>

        {{!-- All Videos --}}
        <div class="container mt-5">
            <div class="row text-center justify-content-center">
                <h5 class="text-success">Pre 1900's</h5>
                <div class="col-md pb-3">
                <h4>Grey Nuns bring European nursing to the prairies</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">1900's</h5>
                <div class="col-md pb-3">
                <h4>Surviving typhoid and extreme conditions: Mary Ellen Birtles</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Victorian Order of Nurses: decades of in-home care</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">1910's</h5>
                <div class="col-md pb-3">
                <h4>Prairie nurses go overseas in World War I</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Roberta MacAdams - second woman elected to a Commonwealth Legislature</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>The 1918 Flu Epidemic</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">1920's</h5>
                <div class="col-md pb-3">
                <h4>District Nurse Travels to Tragedy</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Student Nurses Defiantly "bob" Hair</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Red Cross: nurses in a changing role</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Nurses Uniforms: Bibs, Collars and Caps</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Public Health Nurses</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>The Changing Practice of Nursing</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">1930's</h5>
                <div class="col-md pb-3">
                <h4>Nurses help out in the “Dirty 30s”</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Student nurses work long hours</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">1940's</h5>
                <div class="col-md pb-3">
                <h4>Prairie nurses in World War II</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>The Northern Nurse</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Tommy Douglas TV announcement of first medicare plan</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Saskatchewan Air Ambulance: from the fields and forest</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Tuberculosis and the need for lengthy care in sanitoriums</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">1950's</h5>
                <div class="col-md pb-3">
                <h4>A District Nurse's Story</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Contributions of Immigrant Nurses</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Life in residence: early nursing schools</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>The Dreaded Polio and the Iron Lung</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>The Specialness of Psychiatric Nursing</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Why we Became Nurses</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">1970's</h5>
                <div class="col-md pb-3">
                <h4>Founding a union for nurses: the United Nurses of Alberta</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>The 1977 nurses' strike in Alberta</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>The Staff Nurses' Association of Alberta</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Advocating for Patients</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Formation of the Saskatchewan Union of Nurses</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>The Nurses' oath</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">1980's</h5>
                <div class="col-md pb-3">
                <h4>The 1980 &amp; 1982 nurses' strikes in Alberta</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Nurses defy with illegal strike in 1988</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Nurses Strike to Protect their Patients' care</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">1990's</h5>
                <div class="col-md pb-3">
                <h4>Alberta makes dramatic health cuts in the 1990s</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Nurses impacted dramatically by cuts</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Fun on the floor: nurses break the tension</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Saskatchewan nurses strike in 1999</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Nurses Dramatize crisis with "shoe-in"</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <h5 class="text-success">2000's</h5>
                <div class="col-md pb-3">
                <h4>Caring for the Disabled and Elderly</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Nurses in the workplace at the Great Western Garment Company</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Never Enough Time</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Protecting Caregivers: Health and Safety</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>First Nations Nursing</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
                <div class="col-md pb-3">
                <h4>Saskatchewan Air Ambulance today</h4>
                    <video src="..." class="object-fit-none" autoplay></video>
                </div>
            </div>
        </div>
    </div>


  {{>script}}
  {{>footer}}