<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a
        class="text-success"
        href="/timeline"
      >Timeline</a></li>
    <li class="mx-2">/</li>
    <li class="breadcrumb-item active" aria-current="page"><strong
      >{{title}}</strong></li>
  </ol>
</nav>