/* Global CSS */

*,
::after,
::before {
  box-sizing: border-box;
}

.hidden {
  display: none;
}
/* START font styling */
/* h1,
h2,
h3,
h4,
h5,
p,
li,
ul {
  color: #1a2026;
} */
/* END font styling */

/* START Main container */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid {
  --bs-gutter-x: 0rem !important;
}
/* END Main container */

/* START navbar */
.bg-body-tertiary {
  --bs-bg-opacity: 0 !important;
  background-color: #1a2026 !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* END navbar */

/* START carousel */
.carousel-bg {
  background-color: #1a2026;
  background-image: url("../img/100yearslogo-bg.png");
  background-repeat: repeat;
  height: auto;
}

.carousel-control-prev {
  background-image: linear-gradient(
    to left,
    rgba(26, 32, 38, 0),
    rgba(26, 32, 38)
  );
}

.carousel-control-next {
  background-image: linear-gradient(
    to right,
    rgba(26, 32, 38, 0),
    rgba(26, 32, 38)
  );
}
/* END carousel */

/* START All media queries */
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:nth-child(-n + 2) {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  flex-wrap: wrap;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: inline-block;
  }
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
    flex-wrap: nowrap;
  }

  /* navbar */
  .navbar {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  /* END media queries */
}

/* START article */
#about-nursing {
  background-color: #edf5e0;
}

#text-truncated {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
}
/* END article */
